<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.FileCleaner"
        android:usesCleartextTraffic="true"
        tools:ignore="LockedOrientationActivity,DiscouragedApi"
        tools:replace="android:usesCleartextTraffic,android:supportsRtl"
        tools:targetApi="31">

        <activity
            android:name=".ui.module.SplashActivity"
            android:configChanges="density|keyboardHidden|screenSize"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="RedundantLabel">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.module.MainActivity"
            android:configChanges="density|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.module.AutoCloseActivity"
            android:configChanges="density|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.module.SettingTipsActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/TransparentActivityTheme" />

        <activity
            android:name=".ui.module.WebActivity"
            android:configChanges="density|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />


    </application>

</manifest>