<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <queries>
        <!-- ========= Packages ========== -->
        <package android:name="com.android.vending" />
        <package android:name="com.huawei.appmarket" />
        <package android:name="com.samsung.android.lool" />
        <package android:name="com.samsung.android.sm" />
        <package android:name="com.facebook.katana" />
        <package android:name="com.instagram.android" />

        <!-- ========= Intents ========== -->
        <!-- Launcher -->
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>

        <!-- 主入口 (也可被其他地方触发 MAIN) -->
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>

        <!-- 普通 VIEW 动作 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>

        <!-- 内容选择 (如文件/图片) -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>

        <!-- 发送内容 (分享等) -->
        <intent>
            <action android:name="android.intent.action.SEND" />
        </intent>

        <!-- 浏览器相关 (https) -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>

        <!-- 支持自定义标签服务 (Custom Tabs Service) -->
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
        <intent>
            <action android:name="androidx.browser.customtabs.CustomTabsService" />
        </intent>

        <!-- Applovin 自定义服务 -->
        <intent>
            <action android:name="com.applovin.am.intent.action.APPHUB_SERVICE" />
        </intent>

        <!-- 浏览器相关 (http) -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http" />
        </intent>

        <!-- 市场 (market) -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="market" />
        </intent>

        <!-- 谷歌内购服务 -->
        <intent>
            <action android:name="com.android.vending.billing.InAppBillingService.BIND" />
        </intent>

        <!-- 数字广告（Digital Turbine）相关服务 -->
        <intent>
            <action android:name="com.digitalturbine.ignite.cl.IgniteRemoteService" />
        </intent>
    </queries>

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.FileCleaner"
        android:usesCleartextTraffic="true"
        tools:ignore="LockedOrientationActivity,DiscouragedApi"
        tools:replace="android:usesCleartextTraffic,android:supportsRtl"
        tools:targetApi="31">

        <activity
            android:name=".ui.module.SplashActivity"
            android:configChanges="density|keyboardHidden|screenSize"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="RedundantLabel">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.module.MainActivity"
            android:configChanges="density|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.module.AutoCloseActivity"
            android:configChanges="density|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.module.SettingTipsActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/TransparentActivityTheme" />

        <activity
            android:name=".ui.module.WebActivity"
            android:configChanges="density|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.module.SettingActivity"
            android:configChanges="density|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.clean.filecleaner.ui.module.clean.junk.JunkSearchActivity"
            android:configChanges="density|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.clean.filecleaner.ui.module.clean.junk.JunkSearchEndActivity"
            android:configChanges="density|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.module.AppCacheTipsActivity"
            android:configChanges="density|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentActivityTheme" />

        <activity
            android:name="com.clean.filecleaner.ui.module.clean.junk.JunkCleanEndActivity"
            android:configChanges="density|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.clean.filecleaner.ui.module.clean.app.ApplicationManagementActivity"
            android:configChanges="density|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.clean.filecleaner.ui.module.clean.screenshot.ScreenshotCleanActivity"
            android:configChanges="density|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.clean.filecleaner.ui.module.clean.screenshot.ScreenshotCleanEndActivity"
            android:configChanges="density|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.clean.filecleaner.ui.module.clean.duplicate.DuplicateFileCleanActivity"
            android:configChanges="density|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.clean.filecleaner.ui.module.clean.duplicate.DuplicateFileCleanEndActivity"
            android:configChanges="density|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.module.filemanager.docs.ManageDocsActivity"
            android:configChanges="density|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.module.filemanager.FileCleanEndActivity"
            android:configChanges="density|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.module.filemanager.apk.ManageAPKActivity"
            android:configChanges="density|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.FileCleanProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

    </application>

</manifest>